@font-face {
    font-family: 'The Witcher';
    src: url(font/Thewitcher.ttf) format('truetype');
}


*{
    background-color: black;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
    font-family: 'The Witcher';
    font-weight: lighter;
}
#img{
    width: 853px;
    height: 480px;
    border-radius: 10px;
}